body {
    overflow: auto;
    z-index: 99;
}

#content {
    min-height: 77vh;
}

.wrapper {
    padding: 10px;
}

.page-body {
    margin-left: 6%;
    margin-right: 6%;
    height: 90vh;
    min-height: 600px;
}

.page-full {
    height: 90vh;
    min-height: 600px;
}

html, body {
    height: 100vh;
}

#page-content {
}